//  Hero 
//   
//

.hero{
    height: 100vh;
    .intro {
        padding-top: 150px;
    }
}


// Projects
//
//
.card {
    border-radius: 3px;
    background-color: $white;
    box-shadow: 0 0 6px 0 rgba(30,45,62,.09);
    height: 100%;
    margin: 0 0 30px 0;
    min-height: 140px;
    @include transition(box-shadow .2s ease);
    &:hover {
        box-shadow: 0 10px 15px 0 rgba(30,45,62,.04), 0 0 50px 0 rgba(31,44,60,.05);
        .card-img {
            @include opacity(0.9);
        }
    }
    .card-img {
        border-radius: 3px 3px 0 0;
        background-color: grey;
        background-size: cover;
        background-repeat: no-repeat;
        height: 230px;
        @include opacity(0.8);
        @include transition(opacity .2s ease);
    }
    .card-content {
        padding: 30px;
        .card-tags {
            display: flex;
            margin-bottom: 7px;
        }
    }
}


// About
//
//
.profile-img img{
    width: 100%;
}
